@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);
body {
  font-family: 'Lato', sans-serif;
  letter-spacing: .07em;
}

* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
  line-height: 16px;
  width: 100%;
}

body {
  font-size: 167%;
  margin: 0;
  padding: 0;
}

h1, p, ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

#wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

#mapCanvas {
  height: 100%;
  width: 100%;
}

/*
	Sideboard Section
 */
#info {
  background: #000;
  height: 100%;
  position: absolute;
  width: 100%;
  visibility: hidden;
  z-index: 100;
}

/*
	SNS buttons Section
 */
#sns {
  position: fixed;
  bottom: 20px;
  right: 10px;
}

.twitter-share-button {
  max-width: 90px;
}

.box {
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  border: 1px solid #000;
  width: 100px;
  height: 50px;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 100;
}

/*
    @include transform(translateY(12px));
    @include transition(all 0.3s ease-in-out);
*/
